
.show_liked{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    padding: 10% 7%;
}

.show_liked .card{
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    background: #FFFFFF;
}




.visible {
    position: absolute;
    visibility: visible;
}

.not-visible {
    position: absolute;
    visibility: hidden;
}
