
.show_liked{
    text-align: center;
    padding: 10% 7%;
}

.show_liked .card{
    margin: 1%;
    display: inline-block;
    border-radius: 10%;
    background: #FFFFFF;
}


.not-visible {
    display: none;
}

.card-title{
    font-size: 18px !important;
}
