.store_section{
    position: relative;
    height: 800px;
    align-items: center;
}
.slides{
    padding: 10% 10%;
    display: flex;
    gap: 2rem;
  }
.img_card{
    padding: 1rem 0.2rem;
}
.slides .card{
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    background: #F7F7F7;
}

.card-body div{
    margin-left: auto;
    margin-right: auto;
}

.card-body{
    padding: 0.5rem 1rem !important;
}

.btn-dark, .btn-dark:hover, .btn-dark:active, .btn-dark:visited {
    background-color: var(--the_pink) !important;
    border: var(--the_pink) !important;
}
